<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nobile&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
        <link href="./style.css" rel="stylesheet" />
    </head>

    <body>
        <div class="screen-area">
            <div class="browser">
                <div class="navbar">
                    <div class="tab-container">
                        <span class="title">Title ...</span>
                    </div>
    
                    <div class="dot red-dot"></div>
                    <div class="dot yellow-dot"></div>
                    <div class="dot green-dot"></div>
                </div>
    
    
                <div class="screen-container">
                    <img src="./empty.png"/>
                </div>
            </div>
        </div>

        <div class="config-area">
            <fieldset>
                <label>Background</label>
                <input type="color" name="background-picker" value="#BBC9DC"/>
            </fieldset>
            <button class="dl-button">
                Download    
            </button>
        </div>

    </body>

    <script src="./bundle.js"></script>
</html>